
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
background-color: #F7F9FE;
width: 100%;
background-size: cover;
background-position:center;}
.container{
position: fixed;
    width: 100%;
    background-color: #fff;
    height: 70px;
    z-index: 2;
}



.btn-icon {
    color:#394B6C;
    font-size: 30px;

    cursor: pointer;
    position: absolute;
    right: 5%;
    z-index: 3;
}


.header .container .top-nav{


 


    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;}
   h1{
    text-transform: uppercase;
    color: #394B6C;
    font-weight: 900;
    font-size: 32px;
    margin: 0 10px;
   }


        header .top-nav-container .top-nav .logo h1 .ic{
            color: #FF5363;}


            


                  .overlay-menu{
                          /***********************/ 
                          display: none;
                           /* position: fixed;*/
                            width: 250px;
                            height: 100vh;
                            z-index: 2;
                            top: 0;
                            left: 0;
                            background-color: white;
                            padding: 30px;}

                            .overlay-menu ul li{
                                list-style: none;
                                margin: 15px;
                            }
                          .overlay-menu ul li a{
                                text-decoration: none;
                                color: #50658e;
                                font-weight: bold;
                                font-size: 25px;
                                line-height: 4;
                            }
                            .overlay-menu ul li a:hover{
                                color:#FF5363;
                            }

                            nav{
                                
  position: fixed;
height: 80px;

display: flex;
width: 100%;
position: fixed;
/*padding: 10px;max-height: 80px;*/
z-index: 7;


top:0;
left: 0;
right:0;

                            }

                           nav ul{
                               float: right;
                                display:flex;
                             margin-right: 20px;
                             
                                list-style: none;
                            }



                           nav ul > li{
                                list-style-type: none;
                                display: inline-block;
                       margin:0 30px;
                          
                            }
                         nav ul > li a{
                                text-decoration: none;
                                color: #50658e;
                                text-transform: capitalize;
                                font-weight: bold;
                                font-size: 18px;
                            }


                            nav ul  > li a :hover{
                                color:#FF5363;
                            }

a:hover{
    color:#FF5363;
}
                         
                         nav{
                                display: none;
                            }
                          .menue{
                                position: relative;

                            }
                           .menue .sub{
                                position: absolute;
                                line-height: 22px;
                                left: 0px;
                                padding:10px;
                             display: none;
                           
         
                            }
                           .menue:hover .sub{
                              
                                 display: block;
                            }

                            /*.navbar .sub li{
                                padding :10px;
                            }*/

                          .menue .sub li a{
                                color:#FF5363;
                               
                            }

                       .menue .sub li a:hover{
                                color:#50658e;
                            }
/*************************************/
                           .btn-icon:hover .overlay-menu{
                            display:block; 
  
                                          }




                            @media (min-width: 992px) {
                            nav{
                                    display: block;
                                    
                                }
                              

                               
                         .btn-icon{
                                    display: none;
                                }
                                .overlay-menu{
                                    display:none ;
                                }
                            }

                         
                            @media (max-width: 992px){
                                /*.icons:hover .overlay-menu{
                                    display:block;    
                            }*/
                        h1{
                            text-align: center;
                            font-size: 40px;
                        }
                        }
